body {
    background: linear-gradient(to right, rgb(11, 239, 87), rgb(86, 50, 184));
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    margin: auto;
    top: 15%;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.color1,
.color2 {
    border-radius: 5px;
    height: 40px;
    width: 85px;
}